		<title> Projet 2HSMS-5 </title>
		<meta charset = "UTF-8"/>
		<link rel="stylesheet" type="text/css" href="../style/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../style/CssProjet.css">
		<link rel="stylesheet" type="text/css" href="../style/CssJeux.css">
		<style type="text/css">a:link{text-decoration:none} </style> 