			<div id="titre">
				<a div id="banniere" href=""> <h1>#CerveauTraining</h1> </a>
			</div>
			
			<div id="navigation">
				<nav> <ul class="nav nav-pills" id="table_navigation"> </ul> </nav>
			</div>