img {
	width:100%;
	height:16.745%;
}

.colonne 
{
	height: 50%;
	/*width:145px;*/
	
}



#imageAtrouver
{
	display:flex;
	width:150px;
	height:150px;
	margin: auto;
}



#ZoneJoueur
{
	display:flex;
	float:left;	
	margin-left : 50px;
	border:2px solid black;
}

#calcul
{
	display:flex;
}


#motAttaper
{
	left:50px;
}

#memo img{
		width : 90px;
		height : 90px;
}

#clickRapide img
{
	height:90px;
	width:90px;

}	