	body {
			font-family: "Times New Roman";
			height : 100%;
			width : 100%;
			margin: 0px;
			background-color:rgb(200,200,200);
		}

		nav
		{
			
		}

		.nono
		{
			color: black;
		}


		

	.nav-pills
	{
		font-size: 16px;
		margin-left: 10%;
	}
	
	.taille
	{
		height : 580px;
	}

	h1	{
			background-color:rgb(225, 190, 50);
			color:rgb(235, 40, 120);
			text-align : center;
			padding: 20px;
			margin: 20.440px 5px 20.440px 5px;
			border-radius: 25px 25px 25px 25px;
		}

	ul#menu a {
				background-color: rgb(120, 170, 255);
				color: white;
				padding: 10px;
				margin: 3%;
				text-decoration: none;
				border-radius: 5px 5px 5px 5px;
				font-family: "Lucida Handwriting";
				font-weight:bold;
			}
			
	footer {
			background-color:rgb(150, 150, 150);
			color: black;
			font-family: "Lucida Handwriting";
			text-align:center;
			font-weight:bold;
			clear:both;
			border-top: 1px black solid;
		}

	.margeGauche {
			float : left;
			background-color:rgb(150, 150, 150);
			height: 435px;
			width: 150px;
			border-right: 1px black solid;
			border-top: 1px black solid;
		}
		
	.margeDroite{
			float : right;
			background-color:rgb(150, 150, 150);
			height: 435px;
			width: 150px;
			border-left: 1px black solid;
			border-top: 1px black solid;
		}
	
	.contenu {
				float:left;
				height: 424px;
				width: 1039px;
				margin: 5px 5px 5px 5px;
			}
			
	.placementBouton{
						float:left;
						height: 50px;
						width: 529px;
						margin: 5px 5px 5px 5px;
					}
			
	.mosaique{
				float:right;
				height: 410px;
				width: 490px;
				margin: 5px 5px 5px 5px;
			}
			
	.description{
				float:left;
				height: 360px;
				width: 529px;
				margin: 5px 5px 5px 5px;
			}
			
	.bouton {
			float:left;
			padding: 10px;
			padding-left : 0px;
			padding-right : 0px;
	}
	