	body {
			font-family: "Times New Roman";
			height : 95%;
			width : 100%;
			min-height :328px;
			min-width : 1349px;
			margin: 0px;
			background-color:#ff8c66;
		}

	p 	{
			text-align:justify;
			font-size: 20px;
		}
	
	nav
		{
		    width:100%;
			height:60px;
			background-image:radial-gradient(#A3B9C9,black );
			background-repeat: no-repeat;
			
		}
		
	.off
		{
			color: black;
		}


		

	.nav-pills
	{
		font-size: 16px;
		margin-left: 4%;
		
	}

	h1	{
			background-color: black;
			font-weight: 800;
			height:80px;
			font-family:impact;
			color:#cce6ff;
			text-align : center;
			padding: 20px;
			font-family: Times New Roman ;
			/* border-radius: 25px 25px 25px 25px; */
			margin: 10px,10px,10px,10px;
			background-image: url(images.jpg);
			background-repeat: no-repeat;
			
			
			}

	ul a {
				background-color:#FF8000;
				/*color: white;
				padding: 10px;
				margin: 3%;
				text-decoration: none;
				border-radius: 5px 5px 5px 5px;
				font-family: "Lucida Handwriting";
				font-weight:bold;*/
			}
			
	footer {
	
			/*background-image:radial-gradient(#5858FA, white);*/
			background-color: #A3B9C9;
			font-family: Times New Roman ;
			text-align : center;
			padding: 5px;
			color: black;
			font-family: Lucidatypewriter;
			text-align:center;
			font-weight:bold;
			clear:both;
			height:50px;
			/* border-radius: 25px 25px 25px 25px; */
			/*border-top: 1px black solid;*/		
			/*background-image: url(facebook.jpg), url(mail.png), url(telephone.png), url(insta.jpg), url(twitter.png),radial-gradient(white, #A3B9C9);*/
			background-repeat: no-repeat;
			
			border-radius:0.001%, 0.01, 0.01%, 0.01%, 0.01%;	
			background-position: 75%,85%, 95%,80%, 90%; 
			}
		

	.margeGauche {
			float : left;
			background-color:rgb(255,255,255);
			height: 435px;
			width: 265px;
			border-right: 1px white solid;
			border-top: 1px white solid;
		}
		
	.margeDroite{
			float : right;
			background-color:rgb(255,255,255);
			height: 435px;
			width: 265px;
			border-left: 1px white solid;
			border-top: 1px white solid;
		}
	
	.contenu {
	            background-color:	#b3ff66;
				float:left;
				height: 424px;
				width: 1360px;
				margin: 5px 5px 5px 5px;
				border-radius : 20px;
			}
			
	.placementBouton{
						float:left;
						height: 50px;
						width: 529px;
						margin: 5px 5px 5px 5px;
					}
			
	.mosaique{
				float:right;
				height: 406px;
				width: 490px;
				margin: 5px 10% 5px 5px;
			}
			
	.description{
	            position: absolute;

				float:left;
				height: 360px;
				width: 529px;
				margin: 5px 5px 5px 5%;
			}
			
	.bouton {
			float:left;
			padding: 10px;
			padding-left : 0px;
			padding-right : 0px;
	}