<html lang fr-FR>
	<head>	
		<% include ../partials/head %>
	</head>
	
	<body onload = "creer_mosaique();description_site();">
		<div>
		
			<% include ../partials/header %>
			
			<div class="contenu">
		
			<div id="zone_texte" class="description">
				<h3 style='color:black;background-color:#ffff66;' id='titreArt'>Description</h3>
				<p id='corp' class="description_jeu"> </p>
			</div>
            
            <div align="top", class="mosaique" id="mosaique">
			</div>
                
			</div>
		
		</div>
	
		<% include ../partials/footer %>
		<script type="text/javascript" $('#myTabs a:first').tab('show')></script>
		<script type="text/javascript" src="script/script.js"></script>
		<script> page = 'index'; table_navigation(); </script>
	</body>
</html>